%h1 ChangeLog

%h2 2013-01-10 v0.1.2
%ul
  %li Updated rails to 3.0.19 to protect from security issues.

%h2 2010-07-08 v0.1.1
%ul
  %li Add a changelog controller to show version changes
  %li Make a button to re-generate the coords.txt
  %li Create a coords.txt file on create
  %li 
    Fixed job specs to work as intended
    %ul
      %li
        The create_notification spec still fails, but it appears to be working in dev
        Manual server testing is in order.
  %li Ignore files used for upload testing.
  %li Replace accidental jobfile attachment deletion
  %li Add a timestamp to the log for the job update
  %li Add defaults for non-null columns
  %li add a capistrano autoupgrade task
  %li Make the complete files available for download    
  %li Move mailer functionality to the model
  %li Add some text to the app readme    
    
%h2 2001-06-24 v0.1.0
%ul
  %li Initial application release 
