/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

// @import compass/reset

label, input, textarea, .job_file
  font-size: 1.25em
  font-family: Arial,Helvetica,sans-serif
  margin-bottom: .25em

.field
  margin-bottom: .5em

form#new_job, form#new_user, form.edit_user
  margin-top: .5em
  label
    display: block
    width: 150px
    float: left
  .coords, .job_types, .uploaded_files
    width: 500px
    float: left
    margin-bottom: .5em
    label
      display: inline
      float: none
      
.actions
  margin-left: 150px

.notice, .alert
  font-size: 1.5em

.notice
  background-color: #7FFF00
.alert
  background-color: #EFAAAA
  

table.index-model-table, table.show-model-table
  font-size:  1.25em
  margin-top: .5em
  width: 100%
  border: 1px solid #DDD
  tr.zebra
    background-color: #EEE
  th
    text-align:  center
    background-color: #DDD
  td
    padding: 3px
  td.property
    font-weight: bold

#toplogin
  float: right
  text-align: right

#new-job-button, #new-user-button
  float: right

#content a.button
  border-radius: 5px
  display: block
  width: 100px
  font-size: 1.5em
  background-color: #EECC2E
  text-decoration: none
  padding: 3px
  text-align: center
  border: 1px solid #054B8C
  &:hover
    background-color: #EECC2E + #111
  &.link
    font-size: 1em
    display: inline

#version
  position:  absolute
  bottom: 40px
  right: 0px
  color: #BBD
  font-style: italic
  font-size: .8em 